[Unit]
Description=Digipal Digital Signage Player
After=graphical-session.target
Wants=graphical-session.target
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStart=/usr/bin/digipal-linux-player --no-sandbox
Restart=on-failure
RestartSec=5
Environment=ELECTRON_OZONE_PLATFORM_HINT=auto

[Install]
WantedBy=default.target
